<h1>Salut! Veuillez confirmer votre email!</h1>

<p>
	Veuillez confirmer votre adresse e-mail en cliquant sur le lien suivant :
	<br><br>
	<a href="{{ absolute_url("home") }}">Confirmer mon e-mail</a>.
</p>

<p>
	Merci d'avoir souscirs a la Newsletter de OM NADA BRAHMA!
</p>
