<h1>Désinscription</h1>
<p>
	Vous avez été correctement désabonné de la newsletter je vous remerice pour votre confiance. 
</p>
<p>
	J'éspère que vous reviendre vite reprendre des nouvelles de la Newsletter de OM NADA BRAHMA!

	Cordialement la direction.
</p>
