<h1>Annulation de la session</h1>

<p>
	{{app.user.pseudo }}, je suis au regret de vous informer que la session à dut être annuler je vous pris de 
	de bien vouloir m'excuser pour le désagrément causer.
</p>
