
{% extends 'base.html.twig' %}

{% block title %}Payment Fail!{% endblock %}

{% block body %}

    <div class="container" style="width:90% !important;">
        <div class="row">
            <div class='col'>
                <h1 class="mt5 mb-5 text-center">Merci pour votre tentative de commande !</h1>
                <p>
                    Nous vous remercions de votre confiance !
                    Mais votre paiement a échoué :(
                    <a href="mailto:orders@example.com">Om-nada-braham@exemple.com</a>.
                </p>
            </div>
        </div>
    </div>

{% endblock %}