{% extends 'base.html.twig' %}

{% block title %}Présentation
{% endblock %}

{% block body %}

	<div class="parallax mt-5"></div>
	<div class="para container">
		<div class="row mb-5 mt-5 p-lg-5">
			<div class="card mb-5 presentation_1 p-4">
				<div class="row g-0">
					<div class="col-md-4">
						<img src="{{ asset('img/yoga/298992122_153965817293931_5095642083451124531_n.jpg')}}" class="img-fluid rounded-start " alt="Image de la gérente de la société OM NADA BRAHMA">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h2 class="card-title">Qui je suis</h2>
							<p class="presentation card-text ">
								Lorem ipsum dolor sit amet. Eum quas harum ab animi impedit perferendis numquam vel optio ipsum eum consequatur minima sed magnam cumque est consectetur quod. Ea enim voluptas et sunt quisquam et dolore libero sed magnam tenetur eum dolor ullam quo molestiae explicabo! Qui enim consequatur et saepe voluptatem est neque aperiam et deserunt consectetur et suscipit nobis nihil similique.
								Ea dolorum possimus id accusamus dolor aut voluptas similique. Aut quam eligendi ut dignissimos quia non porro odit. At autem inventore nam labore labore et nisi dolor qui rerum assumenda sit eligendi omnis aut sunt omnis ut repellat ipsa. Quo itaque impedit ex harum obcaecati eos dolor voluptatem.
								Ex nostrum commodi hic modi similique qui officia quia eum quia nihil aut nisi vero nam officia sapiente At sequi autem! Et cupiditate molestiae ea atque esse ex ducimus deleniti et consequatur maiores qui omnis voluptas et voluptate atque quo nihil optio.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="parallax"></div>
	<div class="para container ">
		<div class="row mt-5 mb-5 p-5 p-lg-5">
			<div class="card mt-5 mb-5 presentation_2 p-4">
				<div class="row g-0">
					<div class="col-md-8">
						<div class="card-body">
							<h2 class="card-title">Mon cursus</h2>
							<p class="presentation card-text ">
								Lorem ipsum dolor sit amet. Eum quas harum ab animi impedit perferendis numquam vel optio ipsum eum consequatur minima sed magnam cumque est consectetur quod. Ea enim voluptas et sunt quisquam et dolore libero sed magnam tenetur eum dolor ullam quo molestiae explicabo! Qui enim consequatur et saepe voluptatem est neque aperiam et deserunt consectetur et suscipit nobis nihil similique.
								Ea dolorum possimus id accusamus dolor aut voluptas similique. Aut quam eligendi ut dignissimos quia non porro odit. At autem inventore nam labore labore et nisi dolor qui rerum assumenda sit eligendi omnis aut sunt omnis ut repellat ipsa. Quo itaque impedit ex harum obcaecati eos dolor voluptatem.
								Ex nostrum commodi hic modi similique qui officia quia eum quia nihil aut nisi vero nam officia sapiente At sequi autem! Et cupiditate molestiae ea atque esse ex ducimus deleniti et consequatur maiores qui omnis voluptas et voluptate atque quo nihil optio.
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<img src="{{ asset('img/yoga/GURUS-DE-YOGA&moi.jpg')}}" class="img-fluid rounded-start" alt="Image avec son diplôme et ces professeur de yoga">
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="parallax"></div>
	<div class="para container">
		<div class="row mt-5 mb-5 p-lg-5">
			<div class="card mt-5 mb-5 presentation_4 p-4">
				<div class="row g-0">
					<div class="col-md-4">
						<img src="{{ asset('img/sonothérapie/88983940_2265148427112720_7121286287662776320_o.jpg')}}" class="img-fluid rounded-start" alt="Image de la gérente de la société OM NADA BRAHMA avec son diplome de sonothérapie">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h2 class="card-title">Mes diplôme</h2>
							<p class="presentation card-text ">
								Lorem ipsum dolor sit amet. Eum quas harum ab animi impedit perferendis numquam vel optio ipsum eum consequatur minima sed magnam cumque est consectetur quod. Ea enim voluptas et sunt quisquam et dolore libero sed magnam tenetur eum dolor ullam quo molestiae explicabo! Qui enim consequatur et saepe voluptatem est neque aperiam et deserunt consectetur et suscipit nobis nihil similique.
								Ea dolorum possimus id accusamus dolor aut voluptas similique. Aut quam eligendi ut dignissimos quia non porro odit. At autem inventore nam labore labore et nisi dolor qui rerum assumenda sit eligendi omnis aut sunt omnis ut repellat ipsa. Quo itaque impedit ex harum obcaecati eos dolor voluptatem.
								Ex nostrum commodi hic modi similique qui officia quia eum quia nihil aut nisi vero nam officia sapiente At sequi autem! Et cupiditate molestiae ea atque esse ex ducimus deleniti et consequatur maiores qui omnis voluptas et voluptate atque quo nihil optio.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="parallax"></div>
	<div class="para container">
		<div class="row mt-5 mb-5 p-lg-5">
			<div class="card mt-5 mb-5 presentation_5 p-4">
				<div class="row g-0">
					<div class="col-md-8">
						<div class="card-body">
							<h2 class="card-title">Pourquoi j'ai choisis d'aider les autres
							</h2>
							<p class="presentation card-text ">
								Lorem ipsum dolor sit amet. Eum quas harum ab animi impedit perferendis numquam vel optio ipsum eum consequatur minima sed magnam cumque est consectetur quod. Ea enim voluptas et sunt quisquam et dolore libero sed magnam tenetur eum dolor ullam quo molestiae explicabo! Qui enim consequatur et saepe voluptatem est neque aperiam et deserunt consectetur et suscipit nobis nihil similique.
								Ea dolorum possimus id accusamus dolor aut voluptas similique. Aut quam eligendi ut dignissimos quia non porro odit. At autem inventore nam labore labore et nisi dolor qui rerum assumenda sit eligendi omnis aut sunt omnis ut repellat ipsa. Quo itaque impedit ex harum obcaecati eos dolor voluptatem.
								Ex nostrum commodi hic modi similique qui officia quia eum quia nihil aut nisi vero nam officia sapiente At sequi autem! Et cupiditate molestiae ea atque esse ex ducimus deleniti et consequatur maiores qui omnis voluptas et voluptate atque quo nihil optio.
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<img src="{{ asset('img/yoga/GURUS-DE-YOGA&moi.jpg')}}" class="img-fluid rounded-start" alt="Image avec son diplôme et ces professeur de yoga">
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="parallax"></div>
{% endblock %}
